Win.New/Connected Services/WebService/wsDashboard.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="documentActions">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="userId" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="documentActionsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="documentActionsResult" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="documentActionsSoapIn">
    <wsdl:part name="parameters" element="tns:documentActions" />
  </wsdl:message>
  <wsdl:message name="documentActionsSoapOut">
    <wsdl:part name="parameters" element="tns:documentActionsResponse" />
  </wsdl:message>
  <wsdl:portType name="wsDashboardSoap">
    <wsdl:operation name="documentActions">
      <wsdl:input message="tns:documentActionsSoapIn" />
      <wsdl:output message="tns:documentActionsSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="wsDashboardSoap" type="tns:wsDashboardSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="documentActions">
      <soap:operation soapAction="http://tempuri.org/documentActions" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="wsDashboardSoap12" type="tns:wsDashboardSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="documentActions">
      <soap12:operation soapAction="http://tempuri.org/documentActions" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="wsDashboard">
    <wsdl:port name="wsDashboardSoap" binding="tns:wsDashboardSoap">
      <soap:address location="http://ofmis.nuevavizcayagov.ml/wsDashboard.asmx" />
    </wsdl:port>
    <wsdl:port name="wsDashboardSoap12" binding="tns:wsDashboardSoap12">
      <soap12:address location="http://ofmis.nuevavizcayagov.ml/wsDashboard.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>